#mainSpace{
	background-color:lightgreen;
	/* width:100%;
	margin:0;
	padding:0;  */
}

#sideBar{
	background-color:lightblue;
	text-align: center;
	align-content: center;
}

.hide{
	display:none;
}


.show{
	display:block;
}

.pageTitle{
	text-align: center;
	align-content: center;
	margin-top: 20px;
}

.barTitle {
	margin-top:20px;
}

.navButton {
	border-style: none;
	background-color: lightblue;
}